In [5]:
import pandas as pd
df = pd.read_csv('top10K-TMDB-movies.csv')
df.head(6)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255

In [6]:
df.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [7]:
df = df[['id','title','overview','genre']]
df.head()

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"

In [8]:
df['tags'] = df['overview']+df['genre']
df.head()

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [9]:
nd = df.drop(columns = ['overview','genre'])
nd

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
cv = CountVectorizer(max_features=10000, stop_words='english')
vector = cv.fit_transform(nd['tags'].values.astype('U')).toarray()

In [12]:
vector.shape

(10000, 10000)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
similarity = cosine_similarity(vector)

In [15]:
similarity

array([[1.        , 0.05634362, 0.12888482, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       ...,
       [0.07559289, 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08645856, ..., 0.02817181, 0.0412393 ,
        1.        ]])

In [16]:
nd[nd['title'] == "The Shawshank Redemption"].index[0]

0

In [17]:
dis = sorted(list(enumerate(similarity[0])),reverse=True,key = lambda vector:vector[1])
for i in dis[0:5]:
    print(nd.iloc[i[0]].title)

The Shawshank Redemption
Brubaker
The Woodsman
A Prophet
Gotti

In [18]:
def recommend(movies):
  index = nd[nd['title'] == movies].index[0]
  dis = sorted(list(enumerate(similarity[0])),reverse=True,key = lambda vector:vector[1])
  for i in dis[0:5]:
      print(nd.iloc[i[0]].title)
recommend("Gotti")

The Shawshank Redemption
Brubaker
The Woodsman
A Prophet
Gotti

In [19]:
import pickle

In [20]:
pickle.dump(nd,open('movies_list.pkl','wb'))

In [21]:
pickle.dump(nd,open('similarity.pkl','wb'))

In [22]:
pickle.load(open('movies_list.pkl','rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [24]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

# Load the DataFrame
df = pd.read_csv('top10K-TMDB-movies.csv')

# Preprocess the data
df['tags'] = df['overview'] + df['genre']  # Concatenate 'overview' and 'genre' columns to create 'tags' column
nd = df[['id', 'title', 'overview', 'genre', 'release_date']]
nd = nd.drop_duplicates(subset=['title'])  # Drop duplicate titles if any

print(nd.columns)  # Debug: Print column names to verify the presence of 'tags' column

# Vectorize the tags
cv = CountVectorizer(max_features=10000, stop_words='english')
vector = cv.fit_transform(nd['tags'].values.astype('U')).toarray()

# Compute the cosine similarity matrix
similarity = cosine_similarity(vector)

# Save the similarity matrix
with open('similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)

# Save the DataFrame to a pickle file
with open('movies_list.pkl', 'wb') as f:
    pickle.dump(nd, f)

Index(['id', 'title', 'overview', 'genre', 'release_date'], dtype='object')

KeyError: 'tags'